body {
	background-color: #fff;
	/* background-image: url("../img/bgtexture.jpg"); */
}

@font-face {
    font-family: "ChatypeB2.1ThinThin";
    src: url("../fonts/chatypeb2.1thin-webfont.eot");
    src: url("../fonts/chatypeb2.1thin-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/chatypeb2.1thin-webfont.woff") format("woff"),
         url("../fonts/chatypeb2.1thin-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#page {
	max-width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	padding-top: 10px;
}

.large-icon {
	font-size: 32px;
}

h1 {
	font-family: "ChatypeB2.1ThinThin";
	font-size: 32px;
	line-height: 1.6em;
	text-transform: none;
	text-decoration: none;
	letter-spacing: -1px;
	font-weight: 400;
}

p {
	font-family: "ChatypeB2.1ThinThin";	
}

#header {
	padding-top: 10px;
	text-align: justify;
	min-height: 120px;
	height: 120px;
}

#header:after {
	content: '';
	display: inline-block;
	width: 100%;
}

#navtop {
	min-width: 85%;
	height: 76px;
	float: right;
	border-bottom: 1px solid #000;
	display: table;
	overflow: hidden;
}

#shortbio {
	display: table-cell;
	min-width: 80%;
}

#andy {
	display: inline-block;
	vertical-align: middle;
	float: left;
}

#andy img {
	float: left;
	padding-right: 25px;
}

#andy p {
	float: right;
}

#navrefs {
	height: 100%;
	margin-right: 0px;
	display: table-cell;
	vertical-align: middle;
}

#navrefs ul {
	text-align: right;
	display: block;
	list-style-type: none;
	text-decoration: none;
}

#navrefs ul li {
	padding-left: 10px;
	display: inline;
	vertical-align: middle;

}

#navrefs a,
#navrefs a:link,
#navrefs a:visited {
	display: inline-block;
	color: #444; /*959595;*/
	text-decoration: none !important;
	margin: 0;
	*zoom: 1;
	*display: inline;
}

#navrefs a:before,
#navrefs a:link:before,
#navrefs a:visited:before {
	font-size: 28px;
}

#navrefs a:hover,
#navrefs a:link:hover,
#navrefs a:visited:hover {
	color: #000;
}

#navrefs a:link + a:link {
	margin-left: 10px;
}

#footer {
	display: table;
	text-align: justify;
	min-height: 76px;
	height: 76px;
	width: 100%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#footer:after {
	content: '';
	display: inline-block;
	width: 100%;
}

#copyright {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

#socialrefs {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

#socialrefs a,
#socialrefs a:link,
#socialrefs a:visited {
	display: inline-block;
	color: #444;
	text-decoration: none !important;
	margin: 0;
	*zoom: 1;
	*display: inline;
}

#socialrefs a:before,
#socialrefs a:link:before,
#socialrefs a:visited:before {
	font-size: 28px;
}

#socialrefs a:hover,
#socialrefs a:link:hover,
#socialrefs a:visited:hover {
	color: #000;
}

#socialrefs a:link + a:link {
	margin-left: 10px;
}

#work {
	padding-top: 25px;
	text-align: justify;
	position: relative;
}

#work:after {
	content: '';
	display: inline-block;
	width: 100%;
}

#work > div {
	max-width: 330px;
	width: 330px;
	height: 330px;
	display: inline-block;
	vertical-align: middle;	
	position: relative;
}

#work img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

#work p {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

